{% extends "post.html" %} {% load static %}
<!---->

{% block titulo %}Principal {% endblock titulo%}
<!---->
{%block imagen%}
<header
  class="masthead"
  style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')"
>
  {%endblock imagen%} {%block tituloPrincipal%}
  <h1>Estoy en index</h1>
  <span class="subheading">Aprendiendo Django</span>
  {%endblock tituloPrincipal%} {% block cuerpo %} {% block miPost %}
  <!--
  -->
  {% endblock miPost %}
  <!-- Main Content-->

  {% endblock cuerpo %}
</header>
