{% extends "base.html" %} {% load static %}
<!---->

{% block titulo %}{{postdetalle.titulo}} {% endblock titulo%}
<!---->
{%block imagen%}
<header
  class="masthead"
  style="background-image: url(' {{postdetalle.imagen}} ')"
>
  {%endblock imagen%} {%block tituloPrincipal%}
  <h1>{{postdetalle.titulo}}</h1>
  <span class="subheading">{{postdetalle.descripcion}}</span>
  <span class="subheading"><p>Escrito por: {{postdetalle.autor}}</p></span>
  {%endblock tituloPrincipal%}
</header>
{% block cuerpo %}{{postdetalle.contenido | safe}} {% endblock cuerpo %}
